<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>pets</mat-icon>
    </button>
    <span>Animals App</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span>Add New Animal</span>
    <button (click)="addAnimal()"mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>library_add</mat-icon>
    </button>
</mat-toolbar>
  