.item-class {
    cursor: pointer;
}
.titles-list {
    font-size: 20px;
    margin-right: 45px;
    color: #3f51b5;
    text-transform: uppercase;
    font-weight: bold;
}


.highlight {
    background-color: #3f51b5;
    box-shadow: inset 0 0 20px #fff;
    color: white;
    padding: 6px;
}

